body {
    background: #DEE8F2;
}

.login-wrap {
    width: 350px;
    margin: 30px auto;
    background: #eaeaea;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.login-form {
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 30px;
}

.login-wrap h1 {
    -moz-border-radius: 3px 3px 0 0;
    background: -moz-linear-gradient(center top , #829AA8, #405A6A) repeat scroll 0 0 transparent;
    border-color: #677C89 #677C89 #6B808D;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 8px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.698);
}

.login-wrap input[type="text"], .login-form input[type="password"] {
    border: 1px solid #595858;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
}

.login-wrap input[type="text"]:focus, .login-form input[type="password"]:focus {
    border-color: #000;
}

.login-wrap input[type="text"], .login-form input[type="password"], label {
    display: inline-block;
}

.login-wrap label {
    font-size: .9em;
    display: block;
}

.login-form th, .login-form td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.login-form th {
    text-align: right;
    padding-left: 10px;
}

.login-form tr {
    margin-top: 10px;
}

.login-form .signin-ul > li {
    margin-bottom: 15px;
}

.login-form .signin-ul {
    margin: 0 auto;
    display: table;
}

.login-form .signin-ul li:last-child label, .login-form .signin-ul li:last-child input[type="checkbox"] {
    width: auto;
    display: inline-block;
    font-size: .8em;
    vertical-align: middle;
}

.login-form input[type="submit"] {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    margin-left: 1px;
    overflow: visible;
    padding: 0 13px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 1px;
    white-space: nowrap;
}

.error_list {
    font-size: .8em;
    color: #ff0000;
}

.login-form table {
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px !important;
}

.url {
    text-align: center;
    font-style: italic;
}

h3 {
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px !important;
}