body {
    background: #ccc;
    padding: 30px;
    font-family: arial;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.print {
    color: #3f3f3f;
    width: 900px;
    height: 1200px;;
    border: 1px solid #3f3f3f;
    margin: 0 auto;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}

.print span {
    font-weight: bold;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table, td, th {
    border: 1px solid #ccc !important;
    border-collapse: collapse;
    font-size: .9em;
}

table th {
    font-weight: normal;
    padding: 5px;
    background: #DEE8F2;
}

table td {
    text-align: center;
    padding: 5px;
}

table caption {
    padding: 10px 0;
    text-align: left;
}

ol {
    padding-left: 25px;
}

ol li {
    padding: 0;
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

ol table {
    margin-left: -25px;
    width: 103%;
}

.labor-contract-table {
    float: right;
    width: 30%;
}

.labor-contract-table caption {
    text-align: center;
    font-weight: bold;
}

.one-ol {
    counter-reset: show-list;
}

li:before {
    counter-increment: show-list;
    content: counter(show-list) ". ";
    margin-left: -25px;
}
